.modal-title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px !important;
}

.modal-button {
    margin-bottom: 10px;
    text-transform: none;
    color: #ff4081 !important;
    background-color: #ff4081;
}

.modal-textfield {
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.or-divider {
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
}

.flag-icon {
    width: 20px;
    margin-right: 10px;
}

.terms-privacy {
    text-align: center;
    margin-top: 20px !important;
    font-size: 12px;
}

.terms-privacy a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
