.main-box {
    padding: 40px; /* Increased padding to ensure content does not touch the border */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.large-view {
    max-width: 600px;
    margin: 0 auto;
}

.border-view {
    border: 2px solid #ff4081;

}
input {
    box-sizing: border-box;
}
textarea{
    box-sizing: border-box;
}
.content-section {
    text-align: center;
    box-sizing: border-box;
}

.form-wrap {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-bottom: 15px;
}

.input-wrap {
    position: relative;
}

.auxiliary-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.drop-down-wrap select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.drop-down-filled {
    background: url('../icons/dropdown-svgrepo-com.svg') no-repeat right #fff;
}

.text-area-wrap {
    position: relative;
}

.text-area-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.btn {
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn.primary {
    background-color: #ff4081;
}

.btn.full-width {
    width: 100%;
}

.loadingIcon{
    width: 120px;
    display: flex;
margin: auto;
height: 40px;
text-align: center;
}
.btn-inner-content {
    display: block;
}
